.banner {
  width: 100%;
  display: flex;
  text-align: center;
  background-image: url("./assets/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  justify-content: center;
  align-items: center;
}

.mask {
  background-color: black;
  opacity: 30%;
  height: 100%;
  width: 100%;
  text-align: center;
  align-content: center;
}

.text {
  color: wheat;
  font-family: var(--font-montserrat);
  position: absolute;
}

@media screen and (max-width: 500px) {
  .text {
    text-align: center;
    padding: 0 20px 0 20px;
  }
}
